/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  background: #1a2933; /* Mantendo o fundo escuro para contraste */
  color: #fff;
}

h1 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7); /* Levemente mais claro */
}

/* Titlebar styles */
#titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 32px;
  width: 100%;
  padding: 4px 8px;
  background-color: #1a2933; /* Mantendo para uniformidade */
  color: #fd7200;
  border-bottom: 1px solid #48545c;
  -webkit-app-region: drag;
}

#window-title {
  display: flex;
  align-items: center;
  font-size: 12px;
}

#window-controls {
  display: flex;
}

#window-controls .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 100%;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#window-controls .button:hover {
  background: rgba(253, 114, 0, 0.1);
}

#window-controls .button:active {
  background: rgba(253, 114, 0, 0.2);
}

#min-button {
  background-color: #fd7200;
}

#close-button {
  background-color: #d14400;
}

#close-button:hover {
  background: #b53900;
}

#close-button:active {
  background: #a13000;
}

/* Container styles */
.container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.status-transfer {
  display: flex;
  justify-content: space-between; 
  align-items: flex-end;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}
/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.stats {
  display: flex;
  gap: 20px;
}

.stat span:first-child {
  display: block;
  font-weight: bold;
}

/* Filter bar styles */
.filter-bar,
.search-bar {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.filter-bar button,
.search-bar button,
.search-bar input,
.search-bar select {
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.filter-bar button {
  background-color: #fd7200;
  color: white;
  cursor: pointer;
}

.filter-bar .active {
  background-color: #b53900;
  color: white;
}

.search-bar input {
  flex-grow: 1;
}

.search-bar button {
  background-color: #fd7200;
  color: white;
  border: none;
  cursor: pointer;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f9f9f9;
}

.download,
.delete {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.header-item {
  color: #fd7200;
}

.download {
  background-color: #fd7200;
  color: white;
}

.delete {
  background-color: #d14400;
  color: white;
}
